@import 'colors';
@import "DarkToggle";

.boards {
  overflow-x: scroll;
  white-space: nowrap;
  margin: 20px 0 20px 20px;

  &::-webkit-scrollbar {
    background: var(--boardColor);
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #000000;
  }

  &::-webkit-scrollbar-button {
    background: #0002ff;
    display: block;
  }

}
@media screen and  (max-width:480px) {
  .boards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    white-space: pre-wrap;
    margin: 20px auto;
  }
}
